.emblem-card {
  margin: auto;
  width: 300px;
  border: 1px solid white;
  justify-content: center;
}

.emblem-image {
  background-color: #e4e4e44f;
  object-fit: contain;
  border-radius: 50%;
  width: 170px;
}
